@font-face {
    font-family: 'Comfortaa';
    src: url('../assets/fonts/Comfortaa-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pacifico';
    src: url('../assets/fonts/Pacifico-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}