.taskCard {
    background-color: #D9D9D9;

    display: grid;

    grid-template-columns: 1fr 0.8fr;
    grid-template-rows: 20px 1fr 25px;

    gap: 5px;

    padding: 5px;
    box-sizing: border-box;

    border-radius: 5px;

    .taskTitle {
        font-size: 16px;

        grid-row: 2/3;
        grid-column: 1/2;

        margin: 0;
    }

    .taskInfo {
        grid-row: 1/4;
        grid-column: 2/3;

        display: flex;
        flex-direction: column;

        justify-content: space-between;

        height: 100%;

        .taskCreatedAt {
            font-size: 14px;
        }

        .settingsBtn {

            grid-row: 2/3;
            grid-column: 2/3;

            align-self: center;
            justify-self: center;

            background-color: transparent;
            border: none;
            cursor: pointer;

            width: 20px;
            height: 20px;

            img {
                width: 20px;
                height: 20px;
            }
        }

        .taskStatus {
            padding: 5px 10px;

            text-align: center;

            border-radius: 10px;
        }
    }
}